h1{
    color:red;
}

.camel{
    background-color:lightgreen;
    display:flex;
    justify-content: space-between;
}
.panda{
    background-color:lightgreen;
    display:flex;
    justify-content: space-between;
}

.pigeon{
    background-color:lightgreen;
    display:flex;
    justify-content: space-between;
}

.cicada{
    background-color:lightgreen;
    display:flex;
    justify-content: space-between;
}

.links1{
    border: solid;
}

.links2{
    border: solid;
}

.links3{
    border: solid;
}

.links4{
    border: solid;
}

p{
    text-align: center;
}
